name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: go fmt
      run: go fmt ./...

    - name: Shutdown Ubuntu MySQL (SUDOx)
      run: sudo service mysql stop

    - name: set up mysql ${{ secrets.MYSQL_PWD }}
      uses: mirromutth/mysql-action@v1.1
      with:
        host port: 3306
        container port: 3306
        character set server: 'utf8mb4'
        collation server: 'utf8mb4_unicode_ci'
        mysql version: '5.7'
        mysql root password: ${{ secrets.MYSQL_ROOT_PWD }}
        mysql user: ${{ secrets.MYSQL_USER_NAME }}
        mysql password: ${{ secrets.MYSQL_PWD }}

#    - name: Start MySQL
#      run: sudo service mysql restart

    - name: import mysql sql
      shell: bash
      run: |
        sleep 15
        export MYSQL_PWD=${{ secrets.MYSQL_PWD }}
        mysql -h 127.0.0.1 -u ${{ secrets.MYSQL_USER_NAME }} -v < ./scripts/init.sql

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
