name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: go fmt
      run: go fmt ./...

    - name: Create user and database
      shell: bash
      run: |
        mysql -uroot -proot <<EOF
        use mysql
        create user ${{ secrets.MYSQL_USER_NAME }}@127.0.0.1 identified by '${{ secrets.MYSQL_PWD }}';
        create database employees;
        GRANT ALL PRIVILEGES ON employees.* TO ${{ secrets.MYSQL_USER_NAME }}@127.0.0.1 IDENTIFIED BY '${{ secrets.MYSQL_PWD }}' WITH GRANT OPTION;
        flush privileges;
        EOF

    - name: import mysql sql
      shell: bash
      run: |
        export MYSQL_PWD=${{ secrets.MYSQL_PWD }}
        mysql -h 127.0.0.1 -u ${{ secrets.MYSQL_USER_NAME }} -v < ./scripts/init.sql

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
