name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    
    - name: go fmt
      run: go fmt ./...

    - name: Shutdown Ubuntu MySQL (SUDOx)
      run: sudo service mysql stop

    - name: set up mysql
      uses: mirromutth/mysql-action@v1.1
      with:
        mysql version: '8.0'
        mysql root password: ${{ secrets.MYSQL_PWD }}

    - name: select port
      shell: bash
      run: lsof -i:3306

    - name: import mysql sql
      shell: bash
      run: |
        sleep 15
        mysql -h 127.0.0.1 -P 3306 < ./scripts/init.sql <<EOF
        ${{ secrets.MYSQL_USER_NAME }}
        ${{ secrets.MYSQL_PWD }}
        EOF
    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
