name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: go fmt
      run: go fmt ./...

    - name: Shutdown Ubuntu MySQL (SUDOx)
      run: sudo service mysql stop

    - name: set up mysql
      uses: mirromutth/mysql-action@v1.1
      with:
        host port: 13306
        container port: 13306
        character set server: 'utf8mb4'
        collation server: 'utf8mb4_unicode_ci'
        mysql version: '5.7'
        mysql database: 'employees'
        mysql user: ${{ secrets.MYSQL_USER_NAME }}
        mysql password: ${{ secrets.MYSQL_PWD }}

    - name: import mysql sql
      shell: bash
      run: |
        cat <<EOF > wait.sh
        #!/bin/sh
        while ! mysqladmin ping --host=127.0.0.1 --password=root --silent; do
          sleep 1
          echo wait...
        done
        EOF

        chmod +x ./wait.sh
        echo START
        source ./wait.sh || true
        echo END

        export MYSQL_PWD=${{ secrets.MYSQL_PWD }}
        mysql -h 127.0.0.1 -u ${{ secrets.MYSQL_USER_NAME }} -v < ./scripts/init.sql

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
