name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16
    
    - name: go fmt
      run: go fmt ./...

    - name: Shutdown Ubuntu MySQL (SUDOx)
      run: sudo service mysql stop

    - name: set up mysql
      uses: mirromutth/mysql-action@v1.1
      with:
        host port: 3306
        container port: 3306
        character set server: 'utf8mb4'
        collation server: 'utf8mb4_unicode_ci'
        mysql version: '8.0'
        mysql database: 'employees'
        mysql root password: root

    - name: import mysql sql
      run: |
        mysql -h 127.0.0.1 -u root -p${{ secrets.MYSQL_PWD }} < ./scripts/init.sql

    - name: Test
      run: go test -v ./...

    - name: Build
      run: go build -v ./...
